BODY {
padding-right : 0; 
padding-left : 0; 
font-size : 0.8em; 
padding-bottom : 0; 
margin : 0; 
padding-top : 0; 
font-family : Arial, Helvetica, sans-serif; 
background-color:#EEEEEE;
} 


.Style2 {font-size: 16px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}

.menuhaut {
background-image : url(images/menu_h.png); 
background-repeat : no-repeat; 
height : 30px; 
}

.titre_blok {
	FONT-SIZE: 1.2em;
	color: #ff0000;
}
.titre_blok1 {
	FONT-SIZE: 1.0em;
	color: #ff0000;
}

#header {
height : 130px; 
background-color : #ffffff; 
background-image : url(images/bg.jpg); 
}
#header_en {
height : 150px; 
background-color : #ffffff; 
background-image : url(images/head_baseline_en.png); 
} 
.separateur {
background-image : url(images/separateur_menu.png); 
background-repeat : no-repeat; 
} 
.redbarre {
	background-image : url(images/red_barre.png);
	background-repeat : no-repeat;
} 
#conteneur {
	background-color : #ffffff;
	width:950px;
   	margin: auto; /* Pour centrer notre page */
	border: 2px solid #aaaaaa;
	} 
#events {
	left : 535px;
	margin-left : -375px;
	width : 288px;
	position : absolute;
	} 
#centre {
    background-color : #ffffff;
    margin-left:150px;

}

#TITRE {
    background-color : #ADCF4F;
    margin-left:200px;
}
 
#gauche {
	left : -4px;
	width : 100px;
	position : absolute;
	margin-top : -5px;
	background-image : url(images/fond_menu.png);
	background-repeat: repeat;
	height: 100%;
} 
#pied {
	height : 30px;
	background-color : #ffffff;
	text-align : center;
		} 
#pied LI {
	display : inline;
	text-align : center;
	list-style-type : none;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 0.8em;
	} 
#pied A {
	text-decoration : underline;
	color: #000000;
	background-color: #FFFFFF;
} 
#pied A:hover {
	color : #000000;
	text-decoration : none;
	background-color: #FFFFFF;
} 

.menugauche,puce1 {
padding-right : 0; 
padding-left : 0; 
padding-bottom : 0; 
margin : 0; 
padding-top : 0; 
list-style-type : none;
} 
.menugauche LI {
margin-bottom : 5px; 
list-style-image : url(images/puce_lien1.png); 
margin-left : 18px; 
} 
.liste_vie,puce2 {
	padding-top : 0;
	list-style-type : disc;
	margin-right: -2em;
	margin-left : -2em;
} 

.liste_vie LI {
margin-bottom : 0px; 

} 
.menugauche A {
color : #000000; 
text-decoration : none;
background-color: #e1e1e1;
margin-left : -4px; 
} 
.menugauche A:hover {
	text-decoration : underline;
	color: #000000;
	background-color: #e1e1e1;
	margin-left : -4px;
} 
.box {
	border : 1px solid #666666;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 1em;
	width: 138px;
} 
.boxpass {
	border : 1px solid #666666;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 1em;
	width: 100px;
} 

.longbox {
	border : 1px solid #666666;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 1em;
	width: 100%;
} 
.bold{
	font-weight: bold;
	color: #000000;
}
.deroulant {
	margin-left : 01px; 
	}

h1 {
	
	color:#0109EF;
	font-size: 1.3em;
	font-weight: bold;
	/*margin-left:12px;*/
	margin-top:50px;
	
}
h2 {
	
	color:#E5352C;
	font-size: 1.3em;
	font-weight: bold;
	/*margin-left:150px;*/
	margin-top:20px;
	
}
h3 {
	color:#666666;
	font-size: 1.1em;
	font-weight: bold;
	margin-left:12px;

}
h3x {
	color:#666666;
	font-size: 1.1em;
	font-weight: bold;

}
h4 {
	FONT-SIZE: 1.2em;
	color: #000000;
	font-weight: bold;
}


address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin-top: 10px;
	margin-left : 5px;
	margin-bottom: 10px;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
	text-align: justify;
 }

p.a {font-style : italic;
     margin-left: 150px;}


.image_sc {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(universite/imgs/sc.png);
	width: 200px;
	height: 130px;
}
.image_rech {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(recherche/imgs/microscope_3.png);
	width: 200px;
	height: 190px;
}
.image_form {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(formations/imgs/inscription_1.png);
	width: 200px;
	height: 124px;
}
.image_vie {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(vie_etudiante/imgs/etudiants_1.png);
	width: 200px;
	height: 124px;
}
.image_ri {
	float: left;
	margin-right: 5px;
	border : 0px solid #000000;
	background-image: url(international/imgs/planisphere_1.png);
	width: 200px;
	height: 124px;
}
.image_scol {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(scolarite/imgs/scol_1.png);
	width: 200px;
	height: 124px;
}
.image_entreprise {
	float: left;
	margin-right: 5px;
	border : 1px solid #000000;
	background-image: url(professionnel/imgs/entreprise_1.png);
	width: 200px;
	height: 124px;
}

.spacer {
  clear: both;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: underline;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-style:italic;
}
#maincontentuniv {
	margin-top: 0px;
}
#maincontentrech {
	margin-top: 0px;
}
#maincontentform {
	margin-top: 0px;
}
#maincontentpro {
	margin-top: 0px;
}
#maincontentvie {
	margin-top: 0px;
}
#maincontentri {
	margin-top: 0px;
}
.tinytxt {
	font-size: 0.9em;
	color: #000000;
}
.maincontentnews {
	font-size: 1em;
	color: #000000;
	text-align: left;
	margin-left: 0px;

}
.tablo table {
border-style:solid; 
border-width:1px; 
border-color:black;
border-collapse: collapse;
}
.tablo td, th {
border: thin solid #000000;
}
.tinytxt
{font-size: 0.8em;
}

.alert1
{
	font-size: 1.2em;
	color: #0000CC;
	font-weight: bold;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:-4px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:138px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 5px 0px #ce8e28;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}.button:active {
	position:relative;
	top:1px;
}
.bouton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #469df5;
	display:block;
	color:#ffffff;
	font-family:serif;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	height:25px;
	line-height:25px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #287ace;
}
.bouton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.bouton:active {
	position:relative;
	top:1px;
}

